@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #101010;
  font-family: 'Lekton', monospace;
  color: #FFFFFF;
}

*:focus {
  outline: none;
}

*::selection {
  background: rgba(255,255,255,0.15);
}
